<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="javascript;void(0)" [routerLink]="['']">Movie Review</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['users/userList']">User List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['users/configUser']">User Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['movie/movieList']">Move List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['movie/configMovie']">Move Configuration</a>
        </li>
        <li>
          <a class="nav-link" href="javascript:void(0)" [routerLink]="['login']">Login</a>
        </li>
      </ul>
    </div>
  </nav>